#dices {
  position: fixed;
  left: 960px;
  top: 280px;
  display: none;
  border: none;
}

#pair {
  position: fixed;
  display: none;
  border: none;
}

#dice4 {
  position: fixed;
  left: 1106px;
  top: 280px;
}

#dice3 {
  position: fixed;
  left: 885px;
  top: 280px;
}

#dice1, #dice2, #dice3, #dice4 {
  -moz-box-shadow: 10px 10px 5px black;
  -webkit-box-shadow: 10px 10px 5px black;
  box-shadow: 10px 10px 5px black;
  border-radius: 10px;
  border: none;
  margin-right: 2px;
  padding: 0;
  height: 64px;
  width: 64px;
}

body, div {
  margin: 0;
  padding: 0;
}

body {
  background-color: dimgray;
}

#kinetic-container {
  /*only used for the animation*/
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0
}

svg {
  background-image: url("../Images/wood_background_BlackNWhite_1920x1080.jpg");
}

svg text {
  font-family: 'Arial'
}

#textPlay {
  font-size: 120px;
  stroke-width: 1;
  fill: rgb(199, 199, 199);
  stroke: black;
}

#textHelp {
  font-size: 90px;
  fill: rgb(199, 199, 199);
  stroke: black;
  stroke-width: 1px;
}

#textExit {
  font-size: 70px;
  fill: rgb(199, 199, 199);
  stroke: black;
  stroke-width: 1px;
}

.textGoodBye {
  font-size: 80px;
  stroke: black;
  stroke-width: 2;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

#boardImage {
  visibility: hidden;
}

input {
  color: rgb(199, 199, 199);
  position: fixed;
  border: 2px solid rgb(199, 199, 199);
  width: 400px;
  height: 50px;
  background-color: black;
  font-size: 40px;
  text-align: center;
}

#player-text-container {
  position: fixed;
  left: 960px;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstPlayerText, #secondPlayerText {
  font-size: 40px;
  margin: 0 20px;
}

#firstPlayerText, #secondPlayerText, #proceedButton, #firstPlayer-name, #secondPlayer-name {
  display: none;
}

#proceedButton {
  font-size: 70px;
  fill: rgb(199, 199, 199);
  stroke: black;
  stroke-width: 1px;
}

.blueButton {
  position: fixed;
            right: 20px;
            bottom: 20px;
            background-color: #005d9b;
            color: #ffffff;
            border: 1px solid #005d9b;
            border-radius: 6px;
            cursor: pointer;
            font-family: 'Courier New';
            font-size: 15px;
            font-weight: bold;
            padding: 6px 12px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #b9d6ea;
            width: 80px;
}

.blueButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ca0c4), color-stop(1, #b3d2df));
  background: -moz-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background: -webkit-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background: -o-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background: -ms-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background: linear-gradient(to bottom, #005d9b 5%, #b3d2df 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ca0c4', endColorstr='#b3d2df', GradientType=0);
  background-color: #6ca0c4;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
